In [1]:
for x in range(1, 101):
    if x % 12 == 0:
        print(x)

12
24
36
48
60
72
84
96

In [8]:
for x in range(1,13):
    if 12%x == 0:
        print(x)

1
2
3
4
6
12

In [5]:
for x in range(1,11):
    for y in range(1,11):
        s = x*y
        if s<=9:
            print('0',s, end=' ')
        else:
            print(s,end=' ')

0 1 0 2 0 3 0 4 0 5 0 6 0 7 0 8 0 9 10 0 2 0 4 0 6 0 8 10 12 14 16 18 20 0 3 0 6 0 9 12 15 18 21 24 27 30 0 4 0 8 12 16 20 24 28 32 36 40 0 5 10 15 20 25 30 35 40 45 50 0 6 12 18 24 30 36 42 48 54 60 0 7 14 21 28 35 42 49 56 63 70 0 8 16 24 32 40 48 56 64 72 80 0 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100

In [8]:
for x in range(1,11):
    for y in range(1,11):
        s = x*y
        if s <= 9:
            print('0' + str(s), end=' ')
        else:
            print(s, end=' ')
    print()

01 02 03 04 05 06 07 08 09 10
02 04 06 08 10 12 14 16 18 20
03 06 09 12 15 18 21 24 27 30
04 08 12 16 20 24 28 32 36 40
05 10 15 20 25 30 35 40 45 50
06 12 18 24 30 36 42 48 54 60
07 14 21 28 35 42 49 56 63 70
08 16 24 32 40 48 56 64 72 80
09 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [7]:
for x in range(1,11):
    for y in range(1,11):
        s = x*y
        if s <= 9:
            print('0',s, end=' ')
        else:
            print(s, end=' ')
    print()

0 1 0 2 0 3 0 4 0 5 0 6 0 7 0 8 0 9 10
0 2 0 4 0 6 0 8 10 12 14 16 18 20
0 3 0 6 0 9 12 15 18 21 24 27 30
0 4 0 8 12 16 20 24 28 32 36 40
0 5 10 15 20 25 30 35 40 45 50
0 6 12 18 24 30 36 42 48 54 60
0 7 14 21 28 35 42 49 56 63 70
0 8 16 24 32 40 48 56 64 72 80
0 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [9]:
for x in range(1,11):
    for y in range(1,11):
        print(f"{x*y:02d}", end=' ')
    print()

01 02 03 04 05 06 07 08 09 10
02 04 06 08 10 12 14 16 18 20
03 06 09 12 15 18 21 24 27 30
04 08 12 16 20 24 28 32 36 40
05 10 15 20 25 30 35 40 45 50
06 12 18 24 30 36 42 48 54 60
07 14 21 28 35 42 49 56 63 70
08 16 24 32 40 48 56 64 72 80
09 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100